[submodule "extern/styyx-utils"]
	path = extern/styyx-utils
	url = https://github.com/Styyx1/StyyxUtils
[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/powerof3/CommonLibSSE
